OctVw/OctVw.plist
OctVw/AFNetworking/*

*.xcuserstate

OctVw.xcodeproj/project.xcworkspace/xcuserdata/katu.xcuserdatad/UserInterfaceState.xcuserstate

OctVw.xcodeproj/project.xcworkspace/xcuserdata/katu.xcuserdatad/UserInterfaceState.xcuserstate

OctVw.xcodeproj/project.xcworkspace/xcuserdata/katu.xcuserdatad/UserInterfaceState.xcuserstate

OctVw.xcodeproj/xcuserdata/katu.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
